<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        html, body {
            font-family: 'arial', serif;
            overflow: hidden;
            word-wrap: break-word;
            font-size: 14px;
        }
    </style>
</head>
<body>
<h3 style="text-align: center; color: green;font-size: 100px;">
    <span>sdjlkfjdslkf</span>
    <span th:text="我服了"></span>
    <span th:text="'我的名字叫 ' + ${name} + '!'"></span>
    <span th:text="'我爱 ' + ${thing} + '!'"></span>
    <p>你妈的</p>
</h3>
</body>
</html>